[run]
branch = True
source = Level-Up-TDD

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    */__pycache__/*
    *.pyc
    */venv/*
    */home/travis/virtualenv/*